In [1]:
import shutup
shutup.please()

import numpy as np
import pandas as pd

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019, ALLOWED_NEWS_TICKERS

In [3]:
TICKERS_FOR_COMPARISON = DOW_30_2019
TICKER_FOR_ANALYSIS = 'aapl'
# Download datasets
downloader = Downloader(tickers=TICKERS_FOR_COMPARISON)
#downloader = Downloader(tickers=['aapl'])

df = downloader.fetch_data()

df

Shape of DataFrame:  (21311, 8)

,date,open,high,low,close,volume,ticker,day
0,2017-01-03,28.950001,29.082500,28.690001,27.257647,115127600,aapl,1
1,2017-01-03,74.889999,75.750000,74.739998,69.324287,5853900,axp,1
2,2017-01-03,156.300003,157.139999,155.210007,145.533707,3426100,ba,1
3,2017-01-03,94.000000,95.190002,93.250000,81.168251,5054900,cat,1
4,2017-01-03,30.370001,30.559999,30.209999,25.578661,22370600,csco,1
...,...,...,...,...,...,...,...,...
21306,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1
21307,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1
21308,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1
21309,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1
21310,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.technical_indicators(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="body")
df = feature_engeneer.cleanup(df)
df

Shape of DataFrame:  (754, 8)

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,...,vix,turbulence,neg_title,neu_title,pos_title,compound_title,neg_body,neu_body,pos_body,compound_body
0,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.154486,42.152001,...,9.22,31.365366,0.161000,0.839000,0.000000,-0.113150,0.039000,0.877000,0.085000,0.791050
1,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,0.175730,42.160973,...,9.52,31.687900,0.000000,1.000000,0.000000,0.000000,0.008000,0.934000,0.058000,0.963700
2,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,0.189991,42.151478,...,10.08,29.338664,0.000000,0.946800,0.053200,0.088080,0.026400,0.919000,0.055000,0.684980
3,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,0.221271,42.235242,...,9.88,30.868182,0.244000,0.756000,0.000000,-0.296525,0.041000,0.863750,0.095250,0.636025
4,2018-01-12,44.044998,44.340000,43.912498,42.227123,101672400,aapl,4,0.271225,42.369115,...,10.16,38.142508,0.000000,1.000000,0.000000,0.000000,0.126000,0.874000,0.000000,-0.893400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,1.641299,70.617342,...,12.67,3.458921,0.102250,0.785500,0.112250,-0.023250,0.016250,0.878750,0.105500,0.798700
468,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,1.763167,71.292526,...,12.65,5.128016,0.013800,0.940000,0.046200,0.039140,0.034000,0.847000,0.118800,0.839050
469,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,1.836398,71.881271,...,13.43,2.973096,0.000000,0.908556,0.091444,0.143478,0.027778,0.886222,0.085889,0.761367
470,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,1.906554,72.469045,...,14.82,8.181490,0.087667,0.866583,0.045833,-0.055542,0.042667,0.882000,0.075417,0.627858
471,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,1.981534,73.024567,...,13.78,3.991096,0.154000,0.784000,0.062000,-0.188433,0.082333,0.852000,0.066000,0.318433

In [5]:
feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,...,pos_title_x,compound_title_x,neg_body,neu_body,pos_body,compound_body,neg_title_y,neu_title_y,pos_title_y,compound_title_y
0,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.154486,42.152001,...,0.000000,-0.113150,0.039000,0.877000,0.085000,0.791050,0.161000,0.839000,0.000000,-0.113150
1,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,0.175730,42.160973,...,0.000000,0.000000,0.008000,0.934000,0.058000,0.963700,0.000000,1.000000,0.000000,0.000000
2,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,0.189991,42.151478,...,0.053200,0.088080,0.026400,0.919000,0.055000,0.684980,0.000000,0.946800,0.053200,0.088080
3,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,0.221271,42.235242,...,0.000000,-0.296525,0.041000,0.863750,0.095250,0.636025,0.244000,0.756000,0.000000,-0.296525
4,2018-01-12,44.044998,44.340000,43.912498,42.227123,101672400,aapl,4,0.271225,42.369115,...,0.000000,0.000000,0.126000,0.874000,0.000000,-0.893400,0.000000,1.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
467,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,1.641299,70.617342,...,0.112250,-0.023250,0.016250,0.878750,0.105500,0.798700,0.102250,0.785500,0.112250,-0.023250
468,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,1.763167,71.292526,...,0.046200,0.039140,0.034000,0.847000,0.118800,0.839050,0.013800,0.940000,0.046200,0.039140
469,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,1.836398,71.881271,...,0.091444,0.143478,0.027778,0.886222,0.085889,0.761367,0.000000,0.908556,0.091444,0.143478
470,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,1.906554,72.469045,...,0.045833,-0.055542,0.042667,0.882000,0.075417,0.627858,0.087667,0.866583,0.045833,-0.055542
471,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,1.981534,73.024567,...,0.062000,-0.188433,0.082333,0.852000,0.066000,0.318433,0.154000,0.784000,0.062000,-0.188433

In [6]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'ticker', 'day',
       'macd', 'boll_ub', 'boll_lb', 'rsi_30', 'cci_30', 'dx_30',
       'close_30_sma', 'close_60_sma', 'vix', 'turbulence', 'neg_title',
       'neu_title', 'pos_title', 'compound_title', 'neg_body', 'neu_body',
       'pos_body', 'compound_body'],
      dtype='object')

In [7]:
# aapl 2019-01-07 - vix 21.4 , t = 20.066

In [8]:
#news = pd.read_csv('../us_equities_news_dataset.csv')

In [9]:
#len(news.ticker.unique())

In [10]:
#news.columns

In [11]:
#news.release_date.max()

In [12]:


#news_aapl = pd.read_csv('storage/datasets/news__aapl.csv')
#news_aapl

In [13]:
#len(news_aapl.date.unique())

In [14]:
#news_aapl.date.min(), news_aapl.date.max()

In [15]:
#from src.utils.data import SentimentAnalysis

In [16]:
#sentiment_analyser = SentimentAnalysis()
#sentiment_analyser.evaluate_title(news_aapl)

In [17]:
#news_title_aapl = sentiment_analyser.evaluate(news_aapl, key="title")
#news_title_aapl

In [18]:
#grouped_news_title_aapl = news_title_aapl.groupby(by="date").mean()
#grouped_news_title_aapl.reset_index(inplace=True)
#grouped_news_title_aapl['date'] = pd.to_datetime(grouped_news_title_aapl.date).dt.date
#grouped_news_title_aapl.rename(columns={"neg":"neg_title","pos":"pos_title","neu":"neu_title","compound":"compound_title"},inplace=True)
#grouped_news_title_aapl

In [19]:
"""
vader = SentimentIntensityAnalyzer()

for ticker in ALLOWED_NEWS_TICKERS:
    news = pd.read_csv('storage/datasets/news__'+ticker.lower()+'.csv')
    # Set column names

    columns = ['ticker', 'date', 'content', 'provider']
    # Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
    parsed_and_scored_news = pd.DataFrame(news_aapl, columns=columns)
    scores = parsed_and_scored_news['content'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')
    parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date
    parsed_and_scored_news.sort_values(by="date",inplace=True)
    parsed_and_scored_news.reset_index(drop=True, inplace=True)
    parsed_and_scored_news.to_csv('storage/datasets/news_body_sentiment_analysis__'+ticker.lower()+'__'+'vader.csv')
"""
print()

In [20]:
# parsed_and_scored_news

In [21]:
#df_aapl = df[df["ticker"] == "aapl"]
#df_aapl['date'] = pd.to_datetime(df_aapl.date).dt.date
#df_aapl.iloc[0].date

In [22]:
#df_aapl.merge(grouped_news_title_aapl,on="date")