In [1]:
import shutup
shutup.please()

In [2]:
from src.utils.data import Downloader, FeatureEngeneer

In [3]:
# Download datasets
downloader = Downloader(tickers=['aapl','tsla'])

df = downloader.fetch_data()
"""
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'ticker'],
      dtype='object')
Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',
       'ticker'],
      dtype='object')
      """

Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'ticker'], dtype='object')
Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'ticker'], dtype='object')
Shape of DataFrame:  (2016, 8)

"\nIndex(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',\n       'ticker'],\n      dtype='object')\nIndex(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume',\n       'ticker'],\n      dtype='object')\n      "

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.technical_indicators(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)

2021-12-31 2022-01-01
[*********************100%***********************]  1 of 1 completed
Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'ticker'], dtype='object')
Shape of DataFrame:  (1008, 8)

In [5]:
df[df['ticker']=="aapl"]

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2018-01-02,42.540001,43.075001,42.314999,41.075401,102223600,aapl,1,0.000000,NaN,NaN,NaN,NaN,NaN,41.075401,41.075401,9.770000,0.000000
2,2018-01-03,43.132500,43.637501,42.990002,41.068249,118071600,aapl,2,-0.000160,41.081940,41.061710,0.000000,66.666667,100.000000,41.071825,41.071825,9.150000,0.000000
4,2018-01-04,43.134998,43.367500,43.020000,41.259007,89738400,aapl,3,0.005711,41.350476,40.917962,96.502214,46.936877,100.000000,41.134219,41.134219,9.220000,0.000000
6,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.025201,41.903057,40.662650,98.988599,129.428905,100.000000,41.282853,41.282853,9.220000,0.000000
8,2018-01-08,43.587502,43.902500,43.482498,41.573769,82271200,aapl,0,0.029095,41.937857,40.744216,79.661140,88.669000,100.000000,41.341036,41.341036,9.520000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,2021-12-27,177.089996,180.419998,177.070007,179.836319,74919600,aapl,0,5.051401,183.084035,158.903148,65.037385,111.199979,48.780614,165.988996,156.147989,17.680000,1.848792
2008,2021-12-28,180.160004,181.330002,178.529999,178.799149,79144300,aapl,1,5.101980,183.294006,160.592960,64.013425,108.225709,50.129859,166.962988,156.760439,17.540001,0.201060
2010,2021-12-29,179.330002,180.630005,178.139999,178.888916,62348900,aapl,2,5.090626,183.884499,161.406612,64.064083,99.808879,48.339673,167.939641,157.432640,16.950001,0.018299
2012,2021-12-30,179.470001,180.570007,178.089996,177.712143,59773000,aapl,3,4.929844,184.049906,162.580526,62.864032,91.895734,48.097640,168.843825,158.052532,17.330000,0.341224
2014,2021-12-31,178.089996,179.229996,177.259995,177.083878,64062300,aapl,4,4.697576,183.758800,164.248852,62.220321,79.378323,43.930694,169.644295,158.647182,17.219999,0.203758

In [6]:
df = df.dropna().reset_index()
df

,index,date,open,high,low,close,volume,ticker,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2,2018-01-03,43.132500,43.637501,42.990002,41.068249,118071600,aapl,2,-0.000160,41.081940,41.061710,0.000000,66.666667,100.000000,41.071825,41.071825,9.150000,0.000000
1,3,2018-01-03,64.199997,65.050003,63.110001,63.450001,22607500,tsla,2,-0.014718,64.705729,62.850275,0.000000,66.666667,100.000000,63.778002,63.778002,9.150000,0.000000
2,4,2018-01-04,43.134998,43.367500,43.020000,41.259007,89738400,aapl,3,0.005711,41.350476,40.917962,96.502214,46.936877,100.000000,41.134219,41.134219,9.220000,0.000000
3,5,2018-01-04,62.574001,63.709999,61.136002,62.924000,49731500,tsla,3,-0.035065,64.677718,62.308951,0.000000,-100.000000,54.129057,63.493334,63.493334,9.220000,0.000000
4,6,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.025201,41.903057,40.662650,98.988599,129.428905,100.000000,41.282853,41.282853,9.220000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2009,2011,2021-12-29,1098.640015,1104.000000,1064.140015,1086.189941,18718000,tsla,2,2.738866,1140.761930,888.084047,55.796307,43.403361,19.341288,1047.040330,1011.849164,16.950001,0.018299
2010,2012,2021-12-30,179.470001,180.570007,178.089996,177.712143,59773000,aapl,3,4.929844,184.049906,162.580526,62.864032,91.895734,48.097640,168.843825,158.052532,17.330000,0.341224
2011,2013,2021-12-30,1061.329956,1095.550049,1053.150024,1070.339966,15680300,tsla,3,5.691928,1136.666732,889.713242,54.749103,28.851935,16.324500,1047.560663,1016.678329,17.330000,0.341224
2012,2014,2021-12-31,178.089996,179.229996,177.259995,177.083878,64062300,aapl,4,4.697576,183.758800,164.248852,62.220321,79.378323,43.930694,169.644295,158.647182,17.219999,0.203758
2013,2015,2021-12-31,1073.439941,1082.000000,1054.589966,1056.780029,13577900,tsla,4,6.859010,1132.483803,891.114177,53.854562,20.597878,16.324500,1046.486330,1021.245497,17.219999,0.203758

In [7]:
df.date.min(), df.date.max()

('2018-01-03', '2021-12-31')

In [8]:
from datetime import datetime, timedelta

In [9]:
datetime.now()

datetime.datetime(2022, 8, 4, 11, 32, 6, 876841)

In [10]:
s = df.date.min()
date = datetime.strptime(s, "%Y-%m-%d")
modified_date = date + timedelta(days=1)
datetime.strftime(modified_date, "%Y-%m-%d")

'2018-01-04'