In [1]:
import shutup
shutup.please()

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019

In [3]:
# Download datasets
downloader = Downloader(tickers=DOW_30_2019)

df = downloader.fetch_data()

df

Shape of DataFrame:  (28928, 8)

,date,open,high,low,close,volume,ticker,day
0,2018-01-02,42.540001,43.075001,42.314999,41.075409,102223600,aapl,1
1,2018-01-02,99.730003,99.730003,98.220001,92.493538,2746700,axp,1
2,2018-01-02,295.750000,296.989990,295.399994,282.886414,2978900,ba,1
3,2018-01-02,158.300003,159.389999,156.029999,139.701889,5108400,cat,1
4,2018-01-02,38.669998,38.950001,38.430000,33.710655,20135700,csco,1
...,...,...,...,...,...,...,...,...
28923,2021-12-31,216.809998,217.979996,215.490005,215.945557,4723300,v,4
28924,2021-12-31,52.200001,52.310001,51.880001,50.093555,15911400,vz,4
28925,2021-12-31,51.900002,52.419998,51.830002,51.039719,3406700,wba,4
28926,2021-12-31,143.199997,145.039993,142.919998,143.610535,5982600,wmt,4
28927,2021-12-31,60.740002,61.470001,60.700001,59.905460,14072000,xom,4

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.technical_indicators(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
df = feature_engeneer.cleanup(df)
df

['aapl' 'axp' 'ba' 'cat' 'csco' 'cvx' 'dis' 'dow' 'gs' 'hd' 'ibm' 'intc'
 'jnj' 'jpm' 'ko' 'mcd' 'mmm' 'mrk' 'msft' 'nke' 'pfe' 'pg' 'trv' 'unh'
 'v' 'vz' 'wba' 'wmt' 'xom']
Shape of DataFrame:  (1008, 8)

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2018-01-03,43.132500,43.637501,42.990002,41.068245,118071600,aapl,2,-0.000161,41.081958,41.061696,0.000000,66.666667,100.000000,41.071827,41.071827,9.150000,0.00000
1,2018-01-03,99.239998,99.760002,99.019997,93.063774,2976400,axp,2,0.012794,93.585092,91.972220,100.000000,66.666667,100.000000,92.778656,92.778656,9.150000,0.00000
2,2018-01-03,295.940002,298.500000,295.470001,283.801300,3211200,ba,2,0.020526,284.637702,282.050012,100.000000,66.666667,100.000000,283.343857,283.343857,9.150000,0.00000
3,2018-01-03,157.039993,157.490005,155.399994,139.915421,4146100,cat,2,0.004791,140.110634,139.506676,100.000000,-66.666667,100.000000,139.808655,139.808655,9.150000,0.00000
4,2018-01-03,38.720001,39.279999,38.529999,33.979576,29536000,csco,2,0.006033,34.225427,33.464804,100.000000,66.666667,100.000000,33.845116,33.845116,9.150000,0.00000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28893,2021-12-31,216.809998,217.979996,215.490005,215.945557,4723300,v,4,2.652375,222.939867,200.246075,51.608556,86.122607,11.179364,206.751775,212.971588,17.219999,12.08754
28894,2021-12-31,52.200001,52.310001,51.880001,50.093555,15911400,vz,4,0.226242,52.008051,47.755830,48.646224,41.147709,5.896508,49.685107,50.152204,17.219999,12.08754
28895,2021-12-31,51.900002,52.419998,51.830002,51.039719,3406700,wba,4,1.087906,51.544142,45.789463,60.665065,137.602478,39.560748,47.489314,47.289919,17.219999,12.08754
28896,2021-12-31,143.199997,145.039993,142.919998,143.610535,5982600,wmt,4,0.110825,145.359142,134.349928,52.959541,78.050009,11.277835,140.141839,142.158462,17.219999,12.08754
28897,2021-12-31,60.740002,61.470001,60.700001,59.905460,14072000,xom,4,-0.262455,61.807441,58.319702,50.027561,-29.416531,13.499601,60.149561,60.942777,17.219999,12.08754

In [5]:
df =feature_engeneer.cleanup(df)

In [6]:
df['ticker'].unique()

array(['aapl', 'axp', 'ba', 'cat', 'csco', 'cvx', 'dis', 'gs', 'hd',
       'ibm', 'intc', 'jnj', 'jpm', 'ko', 'mcd', 'mrk', 'msft', 'nke',
       'pfe', 'pg', 'trv', 'unh', 'v', 'vz', 'wba', 'wmt', 'xom', 'mmm',
       'dow'], dtype=object)

In [8]:
df[df['turbulence'] == 0] = np.nan

NameError: name 'np' is not defined