In [1]:
import shutup
shutup.please()

import numpy as np
import pandas as pd

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019, ALLOWED_NEWS_TICKERS

In [3]:
TICKERS_FOR_COMPARISON = DOW_30_2019
TICKER_FOR_ANALYSIS = 'aapl'
# Download datasets
downloader = Downloader(tickers=TICKERS_FOR_COMPARISON)
#downloader = Downloader(tickers=['aapl'])

df = downloader.fetch_data()

df

Shape of DataFrame:  (21311, 8)

,date,open,high,low,close,volume,ticker,day
0,2017-01-03,28.950001,29.082500,28.690001,27.257647,115127600,aapl,1
1,2017-01-03,74.889999,75.750000,74.739998,69.324287,5853900,axp,1
2,2017-01-03,156.300003,157.139999,155.210007,145.533707,3426100,ba,1
3,2017-01-03,94.000000,95.190002,93.250000,81.168251,5054900,cat,1
4,2017-01-03,30.370001,30.559999,30.209999,25.578661,22370600,csco,1
...,...,...,...,...,...,...,...,...
21306,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1
21307,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1
21308,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1
21309,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1
21310,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
print(len(df))
df = feature_engeneer.technical_indicators(df)
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="body")
print(len(df))
df = feature_engeneer.trends(df,TICKER_FOR_ANALYSIS)
print(len(df))
df = feature_engeneer.fear_and_greed(df)

print(len(df))
df = feature_engeneer.cleanup(df)
df

Shape of DataFrame:  (754, 8)
14199
14199
472
472
472
472

,date,open,high,low,close,volume,ticker,day,vix,turbulence,...,neg_title,neu_title,pos_title,compound_title,neg_body,neu_body,pos_body,compound_body,aapl,fear greed
0,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,0.0952,0.063376,...,0.000000,1.000000,0.000000,0.000000,0.008000,0.934000,0.058000,0.963700,0.395833,0.75
1,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,0.1008,0.058677,...,0.000000,0.946800,0.053200,0.088080,0.026400,0.919000,0.055000,0.684980,0.397083,0.75
2,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,0.0988,0.061736,...,0.244000,0.756000,0.000000,-0.296525,0.041000,0.863750,0.095250,0.636025,0.379167,0.77
3,2018-01-12,44.044998,44.340000,43.912498,42.227123,101672400,aapl,4,0.1016,0.076285,...,0.000000,1.000000,0.000000,0.000000,0.126000,0.874000,0.000000,-0.893400,0.371667,0.79
4,2018-01-16,44.474998,44.847500,44.035000,42.012512,118263600,aapl,1,0.1166,0.160641,...,0.000000,0.931667,0.068333,0.067433,0.030000,0.849333,0.120667,0.729800,0.378333,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,0.1267,0.006918,...,0.102250,0.785500,0.112250,-0.023250,0.016250,0.878750,0.105500,0.798700,0.387083,0.91
467,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,0.1265,0.010256,...,0.013800,0.940000,0.046200,0.039140,0.034000,0.847000,0.118800,0.839050,0.455417,0.93
468,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,0.1343,0.005946,...,0.000000,0.908556,0.091444,0.143478,0.027778,0.886222,0.085889,0.761367,0.400833,0.91
469,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,0.1482,0.016363,...,0.087667,0.866583,0.045833,-0.055542,0.042667,0.882000,0.075417,0.627858,0.463333,0.90
470,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,0.1378,0.007982,...,0.154000,0.784000,0.062000,-0.188433,0.082333,0.852000,0.066000,0.318433,0.435417,0.93

In [12]:
df.volume.max()

384986800

In [13]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
open,471.0,49.820393,7.433603,35.994999,44.072500,48.112499,54.202501,72.779999
high,471.0,50.289623,7.468559,36.430000,44.530001,48.619999,54.913750,73.492500
low,471.0,49.374782,7.431807,35.500000,43.757502,47.837502,53.642500,72.379997
close,471.0,48.332707,7.574398,34.414238,42.517448,46.585243,52.211208,72.139954
day,471.0,2.016985,1.406568,0.000000,1.000000,2.000000,3.000000,4.000000
vix,471.0,0.159922,0.040141,0.095200,0.130250,0.149100,0.179050,0.373200
turbulence,471.0,0.072743,0.070931,0.005946,0.034854,0.052206,0.082557,0.781996
macd,471.0,0.376759,1.027585,-2.628160,-0.079827,0.620019,1.112778,2.208589
boll_ub,471.0,50.566209,7.061211,38.965575,44.362361,50.100804,55.184658,73.024567
boll_lb,471.0,44.995385,6.917559,34.144886,39.808129,43.980454,48.887918,63.704902
rsi_30,471.0,55.228360,10.947590,0.000000,50.405377,56.615966,62.174036,81.622399
cci_30,471.0,40.881381,115.142845,-290.858028,-49.706411,76.338758,121.028734,297.256223
dx_30,471.0,27.953842,17.222582,0.063019,14.870273,26.070856,39.577878,100.000000
close_30_sma,471.0,47.510598,6.555879,37.463247,41.766102,46.355086,51.242448,67.092816
close_60_sma,471.0,46.776876,5.535993,39.526694,41.746686,46.536948,50.421606,63.713811
neg_title,471.0,0.069242,0.077863,0.000000,0.000000,0.051000,0.107875,0.441000
neu_title,471.0,0.849550,0.106512,0.483000,0.781333,0.854500,0.928250,1.000000
pos_title,471.0,0.081207,0.082632,0.000000,0.000000,0.062222,0.129500,0.452000
compound_title,471.0,0.016756,0.187486,-0.796400,-0.070963,0.000000,0.114311,0.670500
neg_body,471.0,0.049865,0.023598,0.000000,0.034562,0.048000,0.061417,0.159000
neu_body,471.0,0.861899,0.032764,0.713333,0.842000,0.861500,0.883000,1.000000
pos_body,471.0,0.088253,0.024937,0.000000,0.073200,0.087000,0.103381,0.233333
compound_body,471.0,0.514372,0.446875,-0.995500,0.273929,0.611908,0.891343,0.998900
aapl,471.0,0.429487,0.058051,0.103333,0.406250,0.426250,0.449583,0.682083
fear greed,471.0,0.462824,0.231948,0.020000,0.250000,0.500000,0.650000,0.930000

In [6]:
xxxxxxxxxxx
fg_df = pd.read_csv('storage/datasets/trends__aapl.csv')
#for col in ["steve jobs","aapl","iphone","ipad","macbook","score"]:
#    fg_df[col] = fg_df[col]/100
    
#fg_df.to_csv('storage/datasets/trends__aapl.csv',index=False)
fg_df

NameError: name 'xxxxxxxxxxx' is not defined

In [ ]:
feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")

In [ ]:

df.columns

In [ ]:
# aapl 2019-01-07 - vix 21.4 , t = 20.066

In [ ]:
#news = pd.read_csv('../us_equities_news_dataset.csv')

In [ ]:
#len(news.ticker.unique())

In [ ]:
#news.columns

In [ ]:
#news.release_date.max()

In [ ]:


#news_aapl = pd.read_csv('storage/datasets/news__aapl.csv')
#news_aapl

In [ ]:
#len(news_aapl.date.unique())

In [ ]:
#news_aapl.date.min(), news_aapl.date.max()

In [ ]:
#from src.utils.data import SentimentAnalysis

In [ ]:
#sentiment_analyser = SentimentAnalysis()
#sentiment_analyser.evaluate_title(news_aapl)

In [ ]:
#news_title_aapl = sentiment_analyser.evaluate(news_aapl, key="title")
#news_title_aapl

In [ ]:
#grouped_news_title_aapl = news_title_aapl.groupby(by="date").mean()
#grouped_news_title_aapl.reset_index(inplace=True)
#grouped_news_title_aapl['date'] = pd.to_datetime(grouped_news_title_aapl.date).dt.date
#grouped_news_title_aapl.rename(columns={"neg":"neg_title","pos":"pos_title","neu":"neu_title","compound":"compound_title"},inplace=True)
#grouped_news_title_aapl

In [ ]:
"""
vader = SentimentIntensityAnalyzer()

for ticker in ALLOWED_NEWS_TICKERS:
    news = pd.read_csv('storage/datasets/news__'+ticker.lower()+'.csv')
    # Set column names

    columns = ['ticker', 'date', 'content', 'provider']
    # Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
    parsed_and_scored_news = pd.DataFrame(news_aapl, columns=columns)
    scores = parsed_and_scored_news['content'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')
    parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date
    parsed_and_scored_news.sort_values(by="date",inplace=True)
    parsed_and_scored_news.reset_index(drop=True, inplace=True)
    parsed_and_scored_news.to_csv('storage/datasets/news_body_sentiment_analysis__'+ticker.lower()+'__'+'vader.csv')
"""
print()

In [ ]:
# parsed_and_scored_news

In [ ]:
#df_aapl = df[df["ticker"] == "aapl"]
#df_aapl['date'] = pd.to_datetime(df_aapl.date).dt.date
#df_aapl.iloc[0].date

In [ ]:
#df_aapl.merge(grouped_news_title_aapl,on="date")

In [ ]:
import pytrends
from pytrends.request import TrendReq
pytrend = TrendReq()

kw_list=['steve jobs','Apple','iphone','ipad','macbook']
historicaldf = pytrend.get_historical_interest(kw_list, year_start=2017, month_start=1, day_start=1, hour_start=0, year_end=2021, month_end=1, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)

In [ ]:
historicaldf.to_csv('../aapl_trends.csv')

In [ ]:
historicaldf

In [ ]:
historical_df_daily = historicaldf.reset_index().resample('D', on="date").mean().drop(columns=['isPartial'])#.date.resample('D')

In [ ]:
#historical_df_daily['score'] = 0
historical_df_daily['score'] = historical_df_daily.mean(axis=1)
historical_df_daily

In [ ]:
historical_df_daily.describe()

In [ ]:
historical_df_daily.to_csv('storage/datasets/trends__aapl.csv')

In [ ]:
url = 'https://raw.githubusercontent.com/mariko-sawada/FinRL_with_fundamental_data/main/dow_30_fundamental_wrds.csv'

fund = pd.read_csv(url)

In [ ]:
list(fund.columns)

In [ ]:
!pip install fear-and-greed

In [ ]:
import fear_and_greed

fear_and_greed.get()