In [1]:
import shutup
shutup.please()

import numpy as np
import pandas as pd

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019, ALLOWED_NEWS_TICKERS

In [3]:
TICKERS_FOR_COMPARISON = DOW_30_2019
TICKER_FOR_ANALYSIS = 'aapl'
# Download datasets
downloader = Downloader(tickers=TICKERS_FOR_COMPARISON)
#downloader = Downloader(tickers=['aapl'])

df = downloader.fetch_data()

df

Shape of DataFrame:  (21311, 8)

,date,open,high,low,close,volume,ticker,day
0,2017-01-03,28.950001,29.082500,28.690001,27.257647,115127600,aapl,1
1,2017-01-03,74.889999,75.750000,74.739998,69.324287,5853900,axp,1
2,2017-01-03,156.300003,157.139999,155.210007,145.533707,3426100,ba,1
3,2017-01-03,94.000000,95.190002,93.250000,81.168251,5054900,cat,1
4,2017-01-03,30.370001,30.559999,30.209999,25.578661,22370600,csco,1
...,...,...,...,...,...,...,...,...
21306,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1
21307,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1
21308,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1
21309,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1
21310,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.technical_indicators(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="body")
df = feature_engeneer.cleanup(df)
df

Shape of DataFrame:  (754, 8)

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,boll_lb,rsi_30,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence
0,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.154486,42.152001,40.133532,57.908036,81.849868,17.562463,41.083115,40.241534,9.22,31.365366
1,2018-01-05,100.849998,101.080002,100.269997,94.827492,2550300,axp,4,1.042732,94.458816,90.768735,66.761278,135.039799,28.054286,91.773781,89.774422,9.22,31.365366
2,2018-01-05,296.769989,308.890015,296.720001,294.322296,6177700,ba,4,6.707918,291.464895,269.318049,74.412324,113.301525,65.127409,273.137287,260.830714,9.22,31.365366
3,2018-01-05,160.259995,162.050003,159.639999,144.078705,3945400,cat,4,4.640381,146.381998,124.477283,77.858656,130.770561,65.032863,131.631514,125.775609,9.22,31.365366
4,2018-01-05,39.549999,39.880001,39.369999,34.547638,24588200,csco,4,0.619919,34.340247,32.351112,72.416239,176.469852,56.687114,32.997734,31.402484,9.22,31.365366
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14193,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1,2.042717,187.714093,176.651392,58.615958,96.628947,12.589647,181.093744,177.665121,13.78,3.991096
14194,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1,0.289835,54.731577,53.295662,56.217599,59.110254,8.866464,53.603616,53.333734,13.78,3.991096
14195,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1,0.000979,53.808755,51.636191,54.048381,-6.383568,16.194864,53.358846,52.101367,13.78,3.991096
14196,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1,0.139877,116.343225,113.348559,51.363973,-65.489011,0.487171,114.630778,114.254946,13.78,3.991096
14197,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1,0.200954,60.472507,58.259811,51.169117,30.815924,10.358007,59.116340,58.829363,13.78,3.991096

In [5]:
# aapl 2019-01-07 - vix 21.4 , t = 20.066

In [6]:
#news = pd.read_csv('../us_equities_news_dataset.csv')

In [7]:
#len(news.ticker.unique())

In [8]:
#news.columns

In [9]:
#news.release_date.max()

In [29]:


#news_aapl = pd.read_csv('storage/datasets/news__aapl.csv')
#news_aapl

,Unnamed: 0,id,ticker,title,category,content,date,provider,url,article_id
0,49183,270698,AAPL,JPMorgan cautious ahead of Apple earnings,news,JPMorgan lifts its Apple AAPL 2 9 target f...,2020-01-28,Seeking Alpha,https://invst.ly/pnjv8,2068762
1,49184,270699,AAPL,FAANG s Fall but Get Some Wall Street Love,news,By Kim Khan \nInvesting com The FAANG stocks...,2020-01-28,Investing.com,https://www.investing.com/news/stock-market-ne...,2068765
2,49185,270700,AAPL,Wall Street tumbles as virus fuels economic worry,news,By Chuck Mikolajczak NEW YORK Reuters U S ...,2020-01-28,Reuters,https://www.investing.com/news/stock-market-ne...,2068311
3,49186,270701,AAPL,Earnings Watch Apple and AMD to take earnings...,news,Two of the best performing tech stocks of 2019...,2020-01-28,MarketWatch,https://invst.ly/pnlbs,2068906
4,49187,270702,AAPL,Day Ahead Top 3 Things to Watch for Jan 28,news,By Yasin Ebrahim and Kim Khan \n1 Apple Readi...,2020-01-28,Investing.com,https://www.investing.com/news/stock-market-ne...,2068907
...,...,...,...,...,...,...,...,...,...,...
20226,69409,290924,AAPL,Waiting For Direction On The Markets,opinion,This stock market has been a difficult one for...,2012-07-16,Cam Hui,https://www.investing.com/analysis/waiting-for...,129680
20227,69410,290925,AAPL,Mid Year Update U S And Canadian Stock Marke...,opinion,From 2004 to 2010 the TSX 300 Index of leading...,2012-07-19,Baskin Financial Blog,https://www.investing.com/analysis/mid-year-up...,130056
20228,69411,290926,AAPL,Summer Heat Scorches Europe And U S,opinion,Europe flares as summer heat continues Summer...,2012-07-23,John Nyaradi,https://www.investing.com/analysis/summer-heat...,130439
20229,69412,290927,AAPL,Apple Earnings Preview Quarterly Dip On Deck,opinion,Last quarter Apple AAPL reported the 2nd bes...,2012-07-23,David Dyer,https://www.investing.com/analysis/apple-earni...,130458
20230,69413,290928,AAPL,Trade Apple After Earnings,opinion,It may look like a spider web but the mishmas...,2012-07-23,Abigail Doolittle,https://www.investing.com/analysis/trade-apple...,130440

In [11]:
#len(news_aapl.date.unique())

In [12]:
#news_aapl.date.min(), news_aapl.date.max()

In [30]:
#from src.utils.data import SentimentAnalysis

In [31]:
#sentiment_analyser = SentimentAnalysis()
#sentiment_analyser.evaluate_title(news_aapl)

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\0101567\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [32]:
#news_title_aapl = sentiment_analyser.evaluate(news_aapl, key="title")
#news_title_aapl

,ticker,date,title,provider,neg,neu,pos,compound
0,AAPL,2012-07-16,Waiting For Direction On The Markets,Cam Hui,0.000,1.000,0.000,0.0000
1,AAPL,2012-07-19,Mid Year Update U S And Canadian Stock Marke...,Baskin Financial Blog,0.000,1.000,0.000,0.0000
2,AAPL,2012-07-23,Trade Apple After Earnings,Abigail Doolittle,0.000,1.000,0.000,0.0000
3,AAPL,2012-07-23,Summer Heat Scorches Europe And U S,John Nyaradi,0.000,1.000,0.000,0.0000
4,AAPL,2012-07-23,Apple Earnings Preview Quarterly Dip On Deck,David Dyer,0.000,1.000,0.000,0.0000
...,...,...,...,...,...,...,...,...
20226,AAPL,2020-01-28,The Zacks Analyst Blog Highlights Merck Broa...,Zacks Investment Research,0.000,1.000,0.000,0.0000
20227,AAPL,2020-01-28,Stocks Dow Rebounds as Apple Rallies Into Ea...,Investing.com,0.000,1.000,0.000,0.0000
20228,AAPL,2020-01-28,Apple earnings 4 99 per share vs 4 55 EPS ...,CNBC,0.000,0.784,0.216,0.2960
20229,AAPL,2020-01-28,Apple Earnings Beat in Q1 as iPhone Growth Ret...,Investing.com,0.000,0.755,0.245,0.3818
20230,AAPL,2020-01-28,JPMorgan cautious ahead of Apple earnings,Seeking Alpha,0.219,0.781,0.000,-0.1027

In [60]:
#grouped_news_title_aapl = news_title_aapl.groupby(by="date").mean()
#grouped_news_title_aapl.reset_index(inplace=True)
#grouped_news_title_aapl['date'] = pd.to_datetime(grouped_news_title_aapl.date).dt.date
#grouped_news_title_aapl.rename(columns={"neg":"neg_title","pos":"pos_title","neu":"neu_title","compound":"compound_title"},inplace=True)
#grouped_news_title_aapl

            date  neg_title  neu_title  pos_title  compound_title
0     2012-07-16   0.000000   1.000000   0.000000        0.000000
1     2012-07-19   0.000000   1.000000   0.000000        0.000000
2     2012-07-23   0.000000   1.000000   0.000000        0.000000
3     2012-07-24   0.000000   1.000000   0.000000        0.000000
4     2012-07-27   0.000000   1.000000   0.000000        0.000000
...          ...        ...        ...        ...             ...
2262  2020-01-24   0.024875   0.873062   0.102063        0.161300
2263  2020-01-25   0.000000   1.000000   0.000000        0.000000
2264  2020-01-26   0.064923   0.839154   0.095923        0.005731
2265  2020-01-27   0.027000   0.868250   0.104750        0.132475
2266  2020-01-28   0.060710   0.856116   0.083159        0.039959

[2267 rows x 5 columns]

In [41]:
"""
vader = SentimentIntensityAnalyzer()

for ticker in ALLOWED_NEWS_TICKERS:
    news = pd.read_csv('storage/datasets/news__'+ticker.lower()+'.csv')
    # Set column names

    columns = ['ticker', 'date', 'content', 'provider']
    # Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
    parsed_and_scored_news = pd.DataFrame(news_aapl, columns=columns)
    scores = parsed_and_scored_news['content'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')
    parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date
    parsed_and_scored_news.sort_values(by="date",inplace=True)
    parsed_and_scored_news.reset_index(drop=True, inplace=True)
    parsed_and_scored_news.to_csv('storage/datasets/news_body_sentiment_analysis__'+ticker.lower()+'__'+'vader.csv')
"""
print()

In [42]:
# parsed_and_scored_news

In [57]:
#df_aapl = df[df["ticker"] == "aapl"]
#df_aapl['date'] = pd.to_datetime(df_aapl.date).dt.date
#df_aapl.iloc[0].date

datetime.date(2018, 1, 5)

In [58]:
#df_aapl.merge(grouped_news_title_aapl,on="date")

,date,open,high,low,close,volume,ticker,day,macd,boll_ub,...,cci_30,dx_30,close_30_sma,close_60_sma,vix,turbulence,neg,neu,pos,compound
0,2018-01-05,43.360001,43.842499,43.262501,41.728756,94640000,aapl,4,0.154486,42.152001,...,81.849868,17.562463,41.083115,40.241534,9.22,31.365366,0.040750,0.876500,0.082750,0.068100
1,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,0.175730,42.160973,...,87.149120,18.599690,41.078266,40.314503,9.52,31.687900,0.039286,0.743714,0.217000,0.235557
2,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,0.189991,42.151478,...,75.807387,15.241582,41.073179,40.389571,10.08,29.338664,0.039231,0.813462,0.147308,0.138269
3,2018-01-10,43.290001,43.575001,43.250000,41.559460,95839600,aapl,2,0.198237,42.179415,...,61.537836,12.555405,41.074769,40.460559,9.82,20.268606,0.023000,0.977000,0.000000,-0.025517
4,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,0.221271,42.235242,...,101.205819,18.452776,41.092335,40.524037,9.88,30.868182,0.000000,1.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,1.641299,70.617342,...,164.735316,48.380045,66.191630,62.583057,12.67,3.458921,0.000000,0.965200,0.034800,0.045260
496,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,1.763167,71.292526,...,183.108741,56.563711,66.420509,62.853258,12.65,5.128016,0.026333,0.768333,0.205333,0.258800
497,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,1.836398,71.881271,...,178.757113,61.657373,66.627933,63.145992,13.43,2.973096,0.016000,0.899818,0.084182,0.119100
498,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,1.906554,72.469045,...,150.676938,48.158629,66.864428,63.438175,14.82,8.181490,0.028444,0.762556,0.209000,0.316933
499,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,1.981534,73.024567,...,151.705177,49.691607,67.092816,63.713811,13.78,3.991096,0.019750,0.920125,0.060125,0.090650