In [1]:
import shutup
shutup.please()

import numpy as np
import pandas as pd

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019, ALLOWED_NEWS_TICKERS

In [3]:
TICKERS_FOR_COMPARISON = DOW_30_2019
TICKER_FOR_ANALYSIS = 'aapl'
# Download datasets
downloader = Downloader(tickers=TICKERS_FOR_COMPARISON)
#downloader = Downloader(tickers=['aapl'])

df = downloader.fetch_data()

df

Shape of DataFrame:  (21311, 8)

,date,open,high,low,close,volume,ticker,day
0,2017-01-03,28.950001,29.082500,28.690001,27.257647,115127600,aapl,1
1,2017-01-03,74.889999,75.750000,74.739998,69.324287,5853900,axp,1
2,2017-01-03,156.300003,157.139999,155.210007,145.533707,3426100,ba,1
3,2017-01-03,94.000000,95.190002,93.250000,81.168251,5054900,cat,1
4,2017-01-03,30.370001,30.559999,30.209999,25.578661,22370600,csco,1
...,...,...,...,...,...,...,...,...
21306,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1
21307,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1
21308,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1
21309,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1
21310,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
print(len(df))
df = feature_engeneer.technical_indicators(df)
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="body")
print(len(df))
df = feature_engeneer.trends(df,TICKER_FOR_ANALYSIS)
print(len(df))
df = feature_engeneer.fear_and_greed(df)

print(len(df))
df = feature_engeneer.cleanup(df)
df

Shape of DataFrame:  (754, 8)
14199
14199
472
472
472
472

,date,open,high,low,close,volume,ticker,day,vix,turbulence,...,neg_title,neu_title,pos_title,compound_title,neg_body,neu_body,pos_body,compound_body,aapl,fear greed
0,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,9.52,31.687900,...,0.000000,1.000000,0.000000,0.000000,0.008000,0.934000,0.058000,0.963700,0.395833,0.75
1,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,10.08,29.338664,...,0.000000,0.946800,0.053200,0.088080,0.026400,0.919000,0.055000,0.684980,0.397083,0.75
2,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,9.88,30.868182,...,0.244000,0.756000,0.000000,-0.296525,0.041000,0.863750,0.095250,0.636025,0.379167,0.77
3,2018-01-12,44.044998,44.340000,43.912498,42.227123,101672400,aapl,4,10.16,38.142508,...,0.000000,1.000000,0.000000,0.000000,0.126000,0.874000,0.000000,-0.893400,0.371667,0.79
4,2018-01-16,44.474998,44.847500,44.035000,42.012512,118263600,aapl,1,11.66,80.320451,...,0.000000,0.931667,0.068333,0.067433,0.030000,0.849333,0.120667,0.729800,0.378333,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,12.67,3.458921,...,0.102250,0.785500,0.112250,-0.023250,0.016250,0.878750,0.105500,0.798700,0.387083,0.91
467,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,12.65,5.128016,...,0.013800,0.940000,0.046200,0.039140,0.034000,0.847000,0.118800,0.839050,0.455417,0.93
468,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,13.43,2.973096,...,0.000000,0.908556,0.091444,0.143478,0.027778,0.886222,0.085889,0.761367,0.400833,0.91
469,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,14.82,8.181490,...,0.087667,0.866583,0.045833,-0.055542,0.042667,0.882000,0.075417,0.627858,0.463333,0.90
470,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,13.78,3.991096,...,0.154000,0.784000,0.062000,-0.188433,0.082333,0.852000,0.066000,0.318433,0.435417,0.93

In [5]:
df.describe()

,open,high,low,close,day,vix,turbulence,macd,boll_ub,boll_lb,...,neg_title,neu_title,pos_title,compound_title,neg_body,neu_body,pos_body,compound_body,aapl,fear greed
count,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,...,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000,471.000000
mean,49.820393,50.289623,49.374782,48.332707,2.016985,15.992187,36.371505,0.376759,50.566209,44.995385,...,0.069242,0.849550,0.081207,0.016756,0.049865,0.861899,0.088253,0.514372,0.429487,0.462824
std,7.433603,7.468559,7.431807,7.574398,1.406568,4.014062,35.465283,1.027585,7.061211,6.917559,...,0.077863,0.106512,0.082632,0.187486,0.023598,0.032764,0.024937,0.446875,0.058051,0.231948
min,35.994999,36.430000,35.500000,34.414238,0.000000,9.520000,2.973096,-2.628160,38.965575,34.144886,...,0.000000,0.483000,0.000000,-0.796400,0.000000,0.713333,0.000000,-0.995500,0.103333,0.020000
25%,44.072500,44.530001,43.757502,42.517448,1.000000,13.025000,17.426821,-0.079827,44.362361,39.808129,...,0.000000,0.781333,0.000000,-0.070963,0.034562,0.842000,0.073200,0.273929,0.406250,0.250000
50%,48.112499,48.619999,47.837502,46.585243,2.000000,14.910000,26.102958,0.620019,50.100804,43.980454,...,0.051000,0.854500,0.062222,0.000000,0.048000,0.861500,0.087000,0.611908,0.426250,0.500000
75%,54.202501,54.913750,53.642500,52.211208,3.000000,17.905000,41.278427,1.112778,55.184658,48.887918,...,0.107875,0.928250,0.129500,0.114311,0.061417,0.883000,0.103381,0.891343,0.449583,0.650000
max,72.779999,73.492500,72.379997,72.139954,4.000000,37.320000,390.997903,2.208589,73.024567,63.704902,...,0.441000,1.000000,0.452000,0.670500,0.159000,1.000000,0.233333,0.998900,0.682083,0.930000

In [6]:
xxxxxxxxxxx
fg_df = pd.read_csv('storage/datasets/trends__aapl.csv')
#for col in ["steve jobs","aapl","iphone","ipad","macbook","score"]:
#    fg_df[col] = fg_df[col]/100
    
#fg_df.to_csv('storage/datasets/trends__aapl.csv',index=False)
fg_df

            date  steve jobs      aapl    iphone      ipad   macbook     score
0     2017-01-01    0.007917  0.372917  0.826250  0.155417  0.067917  0.286083
1     2017-01-02    0.009583  0.400000  0.831667  0.154583  0.080833  0.295333
2     2017-01-03    0.009167  0.392083  0.799583  0.143750  0.078333  0.284583
3     2017-01-04    0.007917  0.380417  0.780000  0.138750  0.075833  0.276583
4     2017-01-05    0.007917  0.371667  0.760833  0.136250  0.076250  0.270583
...          ...         ...       ...       ...       ...       ...       ...
1457  2020-12-28    0.005833  0.503750  0.790417  0.160000  0.076667  0.307333
1458  2020-12-29    0.005833  0.487083  0.794583  0.155417  0.075000  0.303583
1459  2020-12-30    0.003750  0.467083  0.769167  0.151250  0.074583  0.293167
1460  2020-12-31    0.003750  0.444583  0.741667  0.140833  0.066250  0.279417
1461  2021-01-01    0.010000  0.480000  0.740000  0.140000  0.060000  0.286000

[1462 rows x 7 columns]

In [7]:
feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")

,date,open,high,low,close,volume,ticker,day,vix,turbulence,...,neg_body,neu_body,pos_body,compound_body,aapl,fear greed,neg_title_y,neu_title_y,pos_title_y,compound_title_y
0,2018-01-08,43.587502,43.902500,43.482498,41.573772,82271200,aapl,0,9.52,31.687900,...,0.008000,0.934000,0.058000,0.963700,0.395833,0.75,0.000000,1.000000,0.000000,0.000000
1,2018-01-09,43.637501,43.764999,43.352501,41.569000,86336000,aapl,1,10.08,29.338664,...,0.026400,0.919000,0.055000,0.684980,0.397083,0.75,0.000000,0.946800,0.053200,0.088080
2,2018-01-11,43.647499,43.872501,43.622501,41.795528,74670800,aapl,3,9.88,30.868182,...,0.041000,0.863750,0.095250,0.636025,0.379167,0.77,0.244000,0.756000,0.000000,-0.296525
3,2018-01-12,44.044998,44.340000,43.912498,42.227123,101672400,aapl,4,10.16,38.142508,...,0.126000,0.874000,0.000000,-0.893400,0.371667,0.79,0.000000,1.000000,0.000000,0.000000
4,2018-01-16,44.474998,44.847500,44.035000,42.012512,118263600,aapl,1,11.66,80.320451,...,0.030000,0.849333,0.120667,0.729800,0.378333,0.75,0.000000,0.931667,0.068333,0.067433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,2019-12-24,71.172501,71.222504,70.730003,69.835609,48478800,aapl,1,12.67,3.458921,...,0.016250,0.878750,0.105500,0.798700,0.387083,0.91,0.102250,0.785500,0.112250,-0.023250
467,2019-12-26,71.205002,72.495003,71.175003,71.221153,93121200,aapl,3,12.65,5.128016,...,0.034000,0.847000,0.118800,0.839050,0.455417,0.93,0.013800,0.940000,0.046200,0.039140
468,2019-12-27,72.779999,73.492500,72.029999,71.194130,146266000,aapl,4,13.43,2.973096,...,0.027778,0.886222,0.085889,0.761367,0.400833,0.91,0.000000,0.908556,0.091444,0.143478
469,2019-12-30,72.364998,73.172501,71.305000,71.616692,144114400,aapl,0,14.82,8.181490,...,0.042667,0.882000,0.075417,0.627858,0.463333,0.90,0.087667,0.866583,0.045833,-0.055542
470,2019-12-31,72.482498,73.419998,72.379997,72.139954,100805600,aapl,1,13.78,3.991096,...,0.082333,0.852000,0.066000,0.318433,0.435417,0.93,0.154000,0.784000,0.062000,-0.188433

In [8]:

df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'ticker', 'day',
       'vix', 'turbulence', 'macd', 'boll_ub', 'boll_lb', 'rsi_30', 'cci_30',
       'dx_30', 'close_30_sma', 'close_60_sma', 'neg_title', 'neu_title',
       'pos_title', 'compound_title', 'neg_body', 'neu_body', 'pos_body',
       'compound_body', 'aapl', 'fear greed'],
      dtype='object')

In [9]:
# aapl 2019-01-07 - vix 21.4 , t = 20.066

In [10]:
#news = pd.read_csv('../us_equities_news_dataset.csv')

In [11]:
#len(news.ticker.unique())

In [12]:
#news.columns

In [13]:
#news.release_date.max()

In [14]:


#news_aapl = pd.read_csv('storage/datasets/news__aapl.csv')
#news_aapl

In [15]:
#len(news_aapl.date.unique())

In [16]:
#news_aapl.date.min(), news_aapl.date.max()

In [17]:
#from src.utils.data import SentimentAnalysis

In [18]:
#sentiment_analyser = SentimentAnalysis()
#sentiment_analyser.evaluate_title(news_aapl)

In [19]:
#news_title_aapl = sentiment_analyser.evaluate(news_aapl, key="title")
#news_title_aapl

In [20]:
#grouped_news_title_aapl = news_title_aapl.groupby(by="date").mean()
#grouped_news_title_aapl.reset_index(inplace=True)
#grouped_news_title_aapl['date'] = pd.to_datetime(grouped_news_title_aapl.date).dt.date
#grouped_news_title_aapl.rename(columns={"neg":"neg_title","pos":"pos_title","neu":"neu_title","compound":"compound_title"},inplace=True)
#grouped_news_title_aapl

In [21]:
"""
vader = SentimentIntensityAnalyzer()

for ticker in ALLOWED_NEWS_TICKERS:
    news = pd.read_csv('storage/datasets/news__'+ticker.lower()+'.csv')
    # Set column names

    columns = ['ticker', 'date', 'content', 'provider']
    # Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
    parsed_and_scored_news = pd.DataFrame(news_aapl, columns=columns)
    scores = parsed_and_scored_news['content'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')
    parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date
    parsed_and_scored_news.sort_values(by="date",inplace=True)
    parsed_and_scored_news.reset_index(drop=True, inplace=True)
    parsed_and_scored_news.to_csv('storage/datasets/news_body_sentiment_analysis__'+ticker.lower()+'__'+'vader.csv')
"""
print()

In [22]:
# parsed_and_scored_news

In [23]:
#df_aapl = df[df["ticker"] == "aapl"]
#df_aapl['date'] = pd.to_datetime(df_aapl.date).dt.date
#df_aapl.iloc[0].date

In [24]:
#df_aapl.merge(grouped_news_title_aapl,on="date")

In [25]:
import pytrends
from pytrends.request import TrendReq
pytrend = TrendReq()

kw_list=['steve jobs','Apple','iphone','ipad','macbook']
historicaldf = pytrend.get_historical_interest(kw_list, year_start=2017, month_start=1, day_start=1, hour_start=0, year_end=2021, month_end=1, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)

KeyboardInterrupt

In [ ]:
historicaldf.to_csv('../aapl_trends.csv')

In [ ]:
historicaldf

In [ ]:
historical_df_daily = historicaldf.reset_index().resample('D', on="date").mean().drop(columns=['isPartial'])#.date.resample('D')

In [ ]:
#historical_df_daily['score'] = 0
historical_df_daily['score'] = historical_df_daily.mean(axis=1)
historical_df_daily

In [ ]:
historical_df_daily.describe()

In [ ]:
historical_df_daily.to_csv('storage/datasets/trends__aapl.csv')

In [ ]:
url = 'https://raw.githubusercontent.com/mariko-sawada/FinRL_with_fundamental_data/main/dow_30_fundamental_wrds.csv'

fund = pd.read_csv(url)

In [ ]:
list(fund.columns)

In [ ]:
!pip install fear-and-greed

In [ ]:
import fear_and_greed

fear_and_greed.get()