In [1]:
import shutup
shutup.please()

import numpy as np
import pandas as pd

In [2]:
from src.utils.data import Downloader, FeatureEngeneer
from src.constants import DOW_30_2019, ALLOWED_NEWS_TICKERS

In [3]:
TICKERS_FOR_COMPARISON = DOW_30_2019
TICKER_FOR_ANALYSIS = 'aapl'
# Download datasets
downloader = Downloader(tickers=TICKERS_FOR_COMPARISON)
#downloader = Downloader(tickers=['aapl'])

df = downloader.fetch_data()

df

Shape of DataFrame:  (21311, 8)

,date,open,high,low,close,volume,ticker,day
0,2017-01-03,28.950001,29.082500,28.690001,27.257647,115127600,aapl,1
1,2017-01-03,74.889999,75.750000,74.739998,69.324287,5853900,axp,1
2,2017-01-03,156.300003,157.139999,155.210007,145.533707,3426100,ba,1
3,2017-01-03,94.000000,95.190002,93.250000,81.168251,5054900,cat,1
4,2017-01-03,30.370001,30.559999,30.209999,25.578661,22370600,csco,1
...,...,...,...,...,...,...,...,...
21306,2019-12-31,187.059998,188.000000,186.539993,184.955582,5273000,v,1
21307,2019-12-31,61.209999,61.400002,60.939999,54.254845,8466700,vz,1
21308,2019-12-31,58.820000,59.470001,58.810001,53.220741,3305100,wba,1
21309,2019-12-31,119.500000,119.800003,118.190002,114.200592,4912000,wmt,1
21310,2019-12-31,69.019997,69.800003,69.010002,59.598045,13151800,xom,1

In [4]:
# Add features to datasets
feature_engeneer = FeatureEngeneer(df)
df = feature_engeneer.vix(df)
df = feature_engeneer.turbulence(df)
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")
print(len(df))
df = feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="body")
print(len(df))
df = feature_engeneer.trends(df,TICKER_FOR_ANALYSIS)
print(len(df))
df = feature_engeneer.fear_and_greed(df)
print(len(df))
df = feature_engeneer.technical_indicators(df)
print(len(df))
df = feature_engeneer.cleanup(df)
df

Shape of DataFrame:  (754, 8)

Empty DataFrame
Columns: [date, open, high, low, close, volume, ticker, day, macd, boll_ub, boll_lb, rsi_30, cci_30, dx_30, close_30_sma, close_60_sma, vix, turbulence, neg_title, neu_title, pos_title, compound_title, neg_body, neu_body, pos_body, compound_body, aapl, Fear Greed]
Index: []

[0 rows x 28 columns]

In [5]:
feature_engeneer.sentiment_analysis(df,TICKER_FOR_ANALYSIS,key="title")

Empty DataFrame
Columns: [open, high, low, close, volume, ticker, day, macd, boll_ub, boll_lb, rsi_30, cci_30, dx_30, close_30_sma, close_60_sma, vix, turbulence, neg_title_x, neu_title_x, pos_title_x, compound_title_x, neg_body, neu_body, pos_body, compound_body, aapl, Fear Greed, date, neg_title_y, neu_title_y, pos_title_y, compound_title_y]
Index: []

[0 rows x 32 columns]

In [6]:
df.columns

Index(['date', 'open', 'high', 'low', 'close', 'volume', 'ticker', 'day',
       'macd', 'boll_ub', 'boll_lb', 'rsi_30', 'cci_30', 'dx_30',
       'close_30_sma', 'close_60_sma', 'vix', 'turbulence', 'neg_title',
       'neu_title', 'pos_title', 'compound_title', 'neg_body', 'neu_body',
       'pos_body', 'compound_body', 'aapl', 'Fear Greed'],
      dtype='object')

In [7]:
# aapl 2019-01-07 - vix 21.4 , t = 20.066

In [8]:
#news = pd.read_csv('../us_equities_news_dataset.csv')

In [9]:
#len(news.ticker.unique())

In [10]:
#news.columns

In [11]:
#news.release_date.max()

In [12]:


#news_aapl = pd.read_csv('storage/datasets/news__aapl.csv')
#news_aapl

In [13]:
#len(news_aapl.date.unique())

In [14]:
#news_aapl.date.min(), news_aapl.date.max()

In [15]:
#from src.utils.data import SentimentAnalysis

In [16]:
#sentiment_analyser = SentimentAnalysis()
#sentiment_analyser.evaluate_title(news_aapl)

In [17]:
#news_title_aapl = sentiment_analyser.evaluate(news_aapl, key="title")
#news_title_aapl

In [18]:
#grouped_news_title_aapl = news_title_aapl.groupby(by="date").mean()
#grouped_news_title_aapl.reset_index(inplace=True)
#grouped_news_title_aapl['date'] = pd.to_datetime(grouped_news_title_aapl.date).dt.date
#grouped_news_title_aapl.rename(columns={"neg":"neg_title","pos":"pos_title","neu":"neu_title","compound":"compound_title"},inplace=True)
#grouped_news_title_aapl

In [19]:
"""
vader = SentimentIntensityAnalyzer()

for ticker in ALLOWED_NEWS_TICKERS:
    news = pd.read_csv('storage/datasets/news__'+ticker.lower()+'.csv')
    # Set column names

    columns = ['ticker', 'date', 'content', 'provider']
    # Convert the parsed_news list into a DataFrame called 'parsed_and_scored_news'
    parsed_and_scored_news = pd.DataFrame(news_aapl, columns=columns)
    scores = parsed_and_scored_news['content'].apply(vader.polarity_scores).tolist()
    scores_df = pd.DataFrame(scores)
    parsed_and_scored_news = parsed_and_scored_news.join(scores_df, rsuffix='_right')
    parsed_and_scored_news['date'] = pd.to_datetime(parsed_and_scored_news.date).dt.date
    parsed_and_scored_news.sort_values(by="date",inplace=True)
    parsed_and_scored_news.reset_index(drop=True, inplace=True)
    parsed_and_scored_news.to_csv('storage/datasets/news_body_sentiment_analysis__'+ticker.lower()+'__'+'vader.csv')
"""
print()

In [20]:
# parsed_and_scored_news

In [21]:
#df_aapl = df[df["ticker"] == "aapl"]
#df_aapl['date'] = pd.to_datetime(df_aapl.date).dt.date
#df_aapl.iloc[0].date

In [22]:
#df_aapl.merge(grouped_news_title_aapl,on="date")

In [ ]:
import pytrends
from pytrends.request import TrendReq
pytrend = TrendReq()

kw_list=['steve jobs','Apple','iphone','ipad','macbook']
historicaldf = pytrend.get_historical_interest(kw_list, year_start=2017, month_start=1, day_start=1, hour_start=0, year_end=2021, month_end=1, day_end=1, hour_end=0, cat=0, geo='', gprop='', sleep=0)

HTTPSConnectionPool(host='trends.google.com', port=443): Read timed out. (read timeout=2)
HTTPSConnectionPool(host='trends.google.com', port=443): Max retries exceeded with url: /trends/api/widgetdata/multiline?req=%7B%22time%22%3A+%222017-06-11T00%5C%5C%3A00%5C%5C%3A00+2017-06-18T00%5C%5C%3A00%5C%5C%3A00%22%2C+%22resolution%22%3A+%22HOUR%22%2C+%22locale%22%3A+%22en-US%22%2C+%22comparisonItem%22%3A+%5B%7B%22geo%22%3A+%7B%7D%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22steve+jobs%22%7D%5D%7D%7D%2C+%7B%22geo%22%3A+%7B%7D%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22Apple%22%7D%5D%7D%7D%2C+%7B%22geo%22%3A+%7B%7D%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22iphone%22%7D%5D%7D%7D%2C+%7B%22geo%22%3A+%7B%7D%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22ipad%22%7D%5D%7D%7D%2C+%7B%22geo%22%3A+%7B%7D%2C+%22complexKeywordsRestriction%22%3A+%7B%22keyword%22%3A+%5B%7B%22type%22%3A+%22BROAD%22%2C+%22value%22%3A+%22macbook%22%7D%5D%7D%7D%5D%2C+%22requestOptions%22%3A+%7B%22property%22%3A+%22%22%2C+%22backend%22%3A+%22CM%22%2C+%22category%22%3A+0%7D%2C+%22userConfig%22%3A+%7B%22userType%22%3A+%22USER_TYPE_SCRAPER%22%7D%7D&token=APP6_UEAAAAAYu2XmrKu8-n9LGTTRZ-4-xUYMiC3pjzN&tz=360 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000001B6BA177A60>, 'Connection to trends.google.com timed out. (connect timeout=2)'))
HTTPSConnectionPool(host='trends.google.com', port=443): Max retries exceeded with url: /trends/api/explore?hl=en-US&tz=360&req=%7B%22comparisonItem%22%3A+%5B%7B%22keyword%22%3A+%22steve+jobs%22%2C+%22time%22%3A+%222017-06-25T00+2017-07-02T00%22%2C+%22geo%22%3A+%22%22%7D%2C+%7B%22keyword%22%3A+%22Apple%22%2C+%22time%22%3A+%222017-06-25T00+2017-07-02T00%22%2C+%22geo%22%3A+%22%22%7D%2C+%7B%22keyword%22%3A+%22iphone%22%2C+%22time%22%3A+%222017-06-25T00+2017-07-02T00%22%2C+%22geo%22%3A+%22%22%7D%2C+%7B%22keyword%22%3A+%22ipad%22%2C+%22time%22%3A+%222017-06-25T00+2017-07-02T00%22%2C+%22geo%22%3A+%22%22%7D%2C+%7B%22keyword%22%3A+%22macbook%22%2C+%22time%22%3A+%222017-06-25T00+2017-07-02T00%22%2C+%22geo%22%3A+%22%22%7D%5D%2C+%22category%22%3A+0%2C+%22property%22%3A+%22%22%7D (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x000001B6BA41D3C0>, 'Connection to trends.google.com timed out. (connect timeout=2)'))

In [ ]:
historicaldf.to_csv('../aapl_trends.csv')

In [ ]:
historicaldf

In [ ]:
historical_df_daily = historicaldf.reset_index().resample('D', on="date").mean().drop(columns=['isPartial'])#.date.resample('D')

In [ ]:
#historical_df_daily['score'] = 0
historical_df_daily['score'] = historical_df_daily.mean(axis=1)
historical_df_daily

In [ ]:
historical_df_daily.describe()

In [ ]:
historical_df_daily.to_csv('storage/datasets/trends__aapl.csv')

In [ ]:
url = 'https://raw.githubusercontent.com/mariko-sawada/FinRL_with_fundamental_data/main/dow_30_fundamental_wrds.csv'

fund = pd.read_csv(url)

In [ ]:
list(fund.columns)

In [ ]:
!pip install fear-and-greed

In [ ]:
import fear_and_greed

fear_and_greed.get()